input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.25rem;
  background-color: #DBDBDB;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.task:not(.task:last-child) {
  border-bottom: 0;
}

.task:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.task:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.task #btn-remove-task {
  background-color: #F85858;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 1.5px;
  width: 2.5rem;
  height: 1.5rem;
  color: #FFF;
  cursor: pointer;
}

.task .task-item {
  position: relative;
  display: flex;
  align-items: center;
}

.checkmark {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  background-color: #FFF;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 1rem;
}

input[type="checkbox"]:checked ~ .checkmark {
  background-color: #5B57D1;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 4.55px;
  width: 5px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}