@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

:root {
  --bgColor: #F8F8F9;
  --textColor: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
}

#root {
  width: min(90vw, 21.875rem);
  margin: auto;
  margin-top: 3.75rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

header h1 {
  text-align: center;
  font-weight: normal;
  font-size: 2.5rem;
  color: var(--textColor);
}

header button {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  right: 10rem;
}

header button img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  header button {
    right: 4rem;
  }
}

@media (max-width: 520px) {
  header {
    justify-content: space-between;
  }

  header button {
    position: static;
  }
}